/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========= Custom Styles ========== */

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  background: linear-gradient(skyblue, deepskyblue);
  line-height: 125%;
  font-size: 16px;
  color: white;
}
.container {
  margin: 20px;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
h6 {
  font-size: 12px;
}
.nested {
  padding-left: 15px
}
input {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: inset 1px 1px rgba(0,0,0,.075);
}

/* ========= Header ========== */
header {
  background: linear-gradient(white, skyblue);
  border-radius: 5px;
}
.icon {
  height: 100px;
  margin-right: 20px;
}
.logo {
  font-weight: bold;
  display: inline;
  text-align: center; /* this isn't working... */
}

/* ========= Body ========== */
.col-1-4 {
  width: 25%;
}

.col-1-2 {
  width: 50%;
}
.col-2-3 {
  width: 66%;
}

.col-1-4,
.col-1-2,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

nav li {
  line-height: 200%
}

/* ========= Feed ========== */
.content {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.username {
  font-weight: bold;
  color: lightseagreen;
}
.username:hover,
.refresh:hover {
  color: deepskyblue;
}
.feed-header {
  text-align: center;
  display: none;
  padding-top: 10px;
}
.tweet {
  border-radius: 5px;
  border: 2px;
  border-color: black;
  display: block;
  margin-top: 10px;
}
.timestamp {
  float: right;
  font-size: 12px;
  color: black;
}
.message {
  display: block;
  color: black;
}
.refresh {
  color: darkcyan;
  font-weight: bold;
  font-size: 12px;
}


/* ========= Footer ========== */
footer h6 {
  text-align: center;
}




















